.mapArea {
  flex: 1;
  height: 100%;

  position: relative;

  .mapContainer {
    width: 100%;
    height: 100%;
  }
}

:global .leaflet-container {
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .mapArea .mapContainer {
    height: 60%;
  }

  :global .leaflet-control-container {
    display: none;
  }
}
