.searchResultModal {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  bottom: 2.5rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);

  .searchResultModalContent {
    width: min(30rem, 90vw);
    height: auto;
    padding-top: 2rem;
    border-radius: 5px;
    background-color: var(--gray-50);

    h2 {
      padding: 0 2rem;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--gray-500);
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
}

@media screen and (max-width: 640px) {
  .searchResultModal .searchResultModalContent {
    padding-top: 1.5rem;

    h2 {
      padding: 0 1.5rem;
      font-size: 1.3rem;
    }
  }
}
