.placesListItem {
  width: 100%;
  padding: 1.5rem;
  border-bottom: 1px solid var(--gray-200);

  cursor: pointer;

  display: flex;
  flex-wrap: nowrap;

  .details {
    flex: 1;
    height: 100%;

    h1 {
      margin-bottom: 0.6rem;
      font-size: 1rem;
      font-weight: 500;
    }

    h2,
    h3,
    p {
      line-height: 1.5;
      font-size: 1rem;
      font-weight: 400;
      color: var(--gray-500);
    }
  }

  .options {
    margin-left: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    svg {
      font-size: 1.5rem;
      color: var(--gray-400);

      &.favorite {
        color: var(--red-400);
      }

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  &:global.highlighted {
    background-color: var(--gray-200);
  }
}

@media (min-width: 1280px) {
  .placesListItem:not(:global .highlighted):hover {
    background-color: lighten(#e5e7eb, 2.2%);
  }
}
