.searchBar {
  position: absolute;
  z-index: 5;
  top: 3rem;
  left: calc(50% - min(12rem, 45vw));
  width: min(24rem, 90vw);
  height: 3.5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);

  form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;

    input {
      flex: 1;
      height: 100%;
      padding: 0 1rem;
      border-radius: 5px 0 0 5px;
      background-color: white;
      color: var(--gray-500);
      outline: 0;
    }

    button {
      width: 3.5rem;
      height: 100%;
      border-radius: 0 5px 5px 0;
      background-color: var(--gray-50);

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
        height: 50%;
      }

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.95);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .searchBar {
    top: 2rem;
  }
}
