.placeForm {
  fieldset {
    padding: 2rem;

    display: flex;
    flex-direction: column;

    label:not(:first-child) {
      margin-top: 0.5rem;
    }

    input {
      width: 100%;
      padding: 0.8rem 1rem;
      margin: 0.5rem 0;
      border-radius: 5px;
      border: 2px solid var(--gray-200);
      background-color: white;
      font-size: 1rem;
      color: var(--gray-500);

      &.inputError {
        border-color: var(--red-400);
        outline-color: var(--red-400);
      }
    }

    span {
      font-weight: 300;
      font-size: 0.875rem;
      color: var(--red-400);
    }
  }

  .formOptions {
    width: 100%;
    margin-top: 0.5rem;
    border-top: 1px solid var(--gray-300);

    display: flex;
    flex-wrap: nowrap;

    button {
      flex: 1;
      height: 4rem;

      font-weight: 500;
      font-size: 1rem;

      transition: background-color 0.2s;
    }

    .btnCancel {
      border-right: 1px solid var(--gray-300);
      background-color: rgba(255, 0, 0, 0.02);
      color: var(--red-400);

      &:hover {
        background-color: rgba(255, 0, 0, 0.05);
      }
    }

    .btnSave {
      background-color: rgba(0, 255, 0, 0.02);
      color: var(--green-500);

      &:not(:disabled):hover {
        background-color: rgba(0, 255, 0, 0.05);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
