.sidebar {
  width: 27rem;
  height: 100%;
  background-color: var(--gray-50);
  box-shadow: 4px 0 4px var(--gray-300);

  display: flex;
  flex-direction: column;

  .listSelector {
    width: 100%;

    display: flex;
    align-items: center;

    .listSelectorItem {
      flex: 1;
      height: 5rem;
      padding: 0 0.5rem;
      border-bottom: 3px solid var(--gray-300);
      color: var(--gray-500);

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: 0.8rem;
        font-size: 1.5rem;
      }

      transition: color 0.2s;

      &:hover {
        color: var(--gray-600);
      }

      &:global.active {
        border-bottom-color: var(--green-600);
        color: var(--green-600);
      }
    }

    &:global.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .emptyList {
    flex: 100%;
    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 60%;
      height: auto;
      margin-bottom: 3rem;
    }

    p {
      text-align: center;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.4;
      color: var(--gray-400);
    }

    ul {
      margin-top: 1rem;
      list-style: inside;

      li {
        margin: 0.6rem 0;
        font-size: 1rem;
        color: var(--gray-400);
      }
    }
  }
}
